#content {
  min-height: 600px;
}

.systemTime {
  margin: 0px;
  float: right;
  width: 20%;
}

#menu .slim-scroll > ul ul li a.glyphicons i:before,
#menu > ul ul li a.glyphicons i:before {
  font-size: 20px;
  color: white;
}

.to-right {
  float: right;
}

#mainDisplayer {
  margin: 0 12px 0 12px;
}

.emergentWindow {
  display: none;
  position: absolute;
  z-index: 1000;
  box-shadow: 2px 2px 5px #aaa;
  border: #BDBDBD solid 1px;
  border-radius: 4px;
}

#allDebts .emergentWindow {
  height: 40px;
}

#allDebts .emergentWindow .idSocio {
  margin-top: 9px;
}

.memoField {
  width: 90%;
  height: 44px;
  border: 1px solid silver;
  background-color: white;
  margin: 0px;
  overflow: auto;
}

#Modal .memoField {
  width: 40%;
  height: 75px;
}

.nombrePariente {
  margin: 0px;
  cursor: pointer;
  margin-left: 2px;
}

p.nombrePariente.selected {
  background-color: #5882FA;
}

.tableKin {
  height: 100px;
  border: 1px solid silver;
  background-color: white;
  margin: 0px;
  overflow: auto;
}
.tableKin table {
  width: 200%;
}
.tableKin table, th, td{
  border: 1px solid black;
}

#Modal .modal-dialog {
  width: 770px;
}

#modalParientes .modal-dialog {
  width: 865px;
}

#modalParientes .modal-header {
  padding-bottom: 25px;
}

ul.navSocio li p, ul.navCuotas li p {
  text-decoration: none;
  margin: 0px;
  cursor: pointer;
  color: #2E2EFE;
}

ul.navSocio li p:hover, ul.navCuotas li p:hover {
  color: #08088A;
}

ul.navSocio li.active p, ul.navCuotas li.active p {
  background-color: #64625f;
}

.widget.widget-tabs > .widget-head ul li p {
width: auto;
height: auto;
display: block;
padding: 0 15px;
color: #555;
text-decoration: none;
line-height: 30px;
}

.widget.widget-tabs > .widget-head ul li.active p {
color: #fff;
}

input[type="file"].display-none {
  display: none;
}

.editParienteForm input[type="text"], .editParienteForm select{
width: 250px;
display: inline;
margin-left: 5px;
}

.editParienteForm input[type="submit"]{
  margin-top: 10px;
}

.editSocioForm input[type="text"], .editSocioForm select{
  display: inline;
  margin-left: 5px;
  width: 250px;
}

.editParienteForm p{
  float: left;
}

.tableContent {
  margin: 20px;
}

.table-finder {
  height: 25px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}