.clear:before, .clear:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
  
.clear:after {
  clear: both;
}

.display-none {
  display: none;
}


header {
  margin-top: 1%;
  height: 115px;
}

.btn {
  border-radius: 4px;
  box-shadow: 1px 1px 4px black;
  font-weight: bold;
  padding: 5px;
}

.btnNormal{
  background-color: #2E64FE;
  border-color: blue;
  color: silver;
}

.btnFunctions{
  color: black;
}

.btnSuccess {
  color: white;
  background: #04B404;
  border-color: #088A08;
}

input.btn[disabled] {
  opacity: 0.5;
}

#formSocio input {
  text-align: center;
}

.logoContainer {
  background-color: #0B0B61;
  height: 120px;
  width: 177px;
}

.triangule {
  margin-left: 177px;
  position: absolute;
  width:0;
  height:0;
  border-color:transparent transparent #0B0B61 #0B0B61;
  border-style:solid;
  border-width:60px;
  z-index: -1;
}

.VLogo {
  background: white;
  border-radius: 0 10px 10px 0;
  float: left;
  margin-top: 10%;
  width: 180px;
  height: 86px;
}

.VLogo img {
  border-radius: 10px;
  float: right;
}

.mainNav {
  width: 86%;
  margin-top: -82px;
  margin-left: 188px;
  padding-top: 7px;
  background-color: #0B0B61;
  height: 72%;
}

.mainNav ul {
  text-align: center;
  background-color: white;
  height: 43px;
  margin-left: 2%;
  width: 65%;
  border-radius: 5px;
  list-style: none;
  padding: 1px 0 1px 0;
}

.mainNav ul li {
  display: inline-block;
  font-size: 20px;
  padding: 5px 10px;
}


.mainNav ul li:hover {
  padding-bottom: 0px;
  background-color: #2E9AFE;
  border-bottom: #A9E2F3 3px solid;
  border-radius: 30px;
}

.mainNav ul li a {
  text-decoration: none;
  color: #B18904;
  font-weight: bold;
}

.mainNav ul li.active {
  background: url("../img/leaf.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  padding-top: 5px;
  border-bottom: #2E9AFE 5px solid;
  padding-bottom: 0px;
}

.leftPanel {
  width: 15%;
}

.navLeft {
  margin-top: 5px;
  background-color: silver;
  height: 300px;
  border-bottom: #585858 1px solid;
  border-right: #585858 1px solid;
  border-radius: 0 0 15px 0;
}

.navLeft input {
  margin: 10px 0 5px 10px;
}

.loginAs {
  float: right;
  border: #BDBDBD solid 1px;
  background-color: #E6E6E6;
  margin-right: 5px;
  border-radius: 17px;
  height: 33px;
  width: 180px;
}

.loginAs p {
  text-align: center;
  margin-top: 9px;
  font-size: 12px;
}

#mainDisplayer {
  position: absolute;
  width: 83%;
  height: 77%;
  top: 145px;
  margin-left: 16%;
  border-top: 4px solid #BDBDBD;
  border-left: 4px solid #BDBDBD;
  border-radius: 10px;
}

.socioBody {
  overflow: auto;
  border-right: 1px solid #BDBDBD;
}

table.blue-table {
  margin: 10px 0 0 10px;
  border: 0;
}

table.blue-table thead {
  text-align: left;
}

table.blue-table thead tr th {
  background: #b9c9fe;
  border-top: 4px solid #aabcfe;
  border-bottom: 1px solid #fff;
  color: #039;
  border-right: 0;
  border-left: 0;
}

table.blue-table tbody tr td{
  background: #e8edff;
  border-bottom: 1px solid #fff;
  color: #669;
  border-top: 1px solid transparent;
  padding: 8px;
  border-right: 0;
  border-left: 0;
}

table.blue-table tbody tr:hover td {
  background: #d0dafd;
}

.table-allSocios {
  width: 200%;
}

.table-deudas, .table-factura {

}


.test, .test > td {
  height: 25px;
}

.indexImages img {
  box-shadow: 5px 5px 5px #aaa;
  position: absolute;
  width: 99%;
  height: 100%;
}

.lotLeafs {
  height: 230px;
}

.lotLeafs img {
  height: 100%;
  width: 96%;
}

.btnGroup{
  text-align: center; 
}

.btnGroup p input{
  margin-right: 20px;
}

/* Styling for Socio Template */
#formSocio, #editSocioForm {
  width: 77%;
  margin-left: 20px;
  background: #fcfcfc repeat-x left bottom;
  border: 1px solid #ccc;
  border-bottom: 2px solid #bbb;
  border-top: 1px solid #ddd;
  border-radius: 10px;
  margin-top: 15px;
  padding-left: 20px;
}

#editSocioForm {
  width: 90%;
}

#editSocioForm .btnSuccess {
  margin-top: 10px;
}

#editSocioForm .btnUpLoad {
  margin-left: 75%;
}

#formSocio h1 {
  color: #0B0B61;
}

.data1, .data2 {
  float: left;
  width: 400px;
  margin-bottom: 10px;
}

.data1 p, .data2 p {
  padding-right: 45px;
}

input.datePicker {
  width: 90px;
}

.data1 p input[type="text"], .data2 p input[type="text"], .data2 p span, .data2 p select {
  float: right;
}

.data2 p span span {
  margin-right: 5px;
  width: 85px;
}

.data2 p select {
  width: 143px;
}


#modalDisplayer img.fotoSocio, .fotoSocioEdit, .fotoSocioEdit img, .fotoParienteEdit img {
  width: 150px;
  height: 150px;
}

.fotoSocioEdit {
  margin-left: 25%;
}

#modalDisplayer .clear .data1, #modalDisplayer .clear .data2 {
  width: 265px;
}

ul.navSocio, ul.navCuotas {
  margin: 3px 0 0 0;
  list-style: none;
  border-bottom: 3px solid #BDBDBD;
  border-radius: 0 0 10px 0;
}

div.backgroundNav {
  background-color: #D8D8D8;
  padding-top: 1px;
  border-radius: 3px 6px 6px 0;
}

ul.navSocio > li, ul.navCuotas > li {
  margin-bottom: -3px;
}

ul.navSocio li p, ul.navCuotas li p {
  text-decoration: none;
  margin: 0px;
  cursor: pointer;
  color: #2E2EFE;
}

ul.navSocio li p:hover, ul.navCuotas li p:hover {
  color: #08088A;
}

ul.navSocio li.active p, ul.navCuotas li.active p {
  border: 3px solid #BDBDBD;
  background-color: white;
  border-bottom-color: white;
}

ul.navSocio > li > p, ul.navCuotas > li > p {
  padding: 10px 15px;
  display: block;
  border: 3px solid transparent;
  border-radius: 4px 4px 0 0;
}

ul.navSocio li, ul.navCuotas li {
  display: inline-block;
}

.uppercase {
  text-transform: uppercase;
}
.emergentWindow {
  display: none;
  position: absolute;
  z-index: 1000;
  box-shadow: 2px 2px 5px #aaa;
  border: #BDBDBD solid 1px;
  border-radius: 4px;
}

.actionsSocio {
  background-color: #E6E6E6;
}

.idSocio {
  margin: 0 3px 0 3px;
}

.idSocio p {
  color: #0101DF;
  cursor: pointer;
  margin: 5px;
}

.actionsSocio .idSocio p#sSocio {
  border-bottom: 1px solid #BDBDBD;
  padding-bottom: 5px;
}

.data2 p:nth-child(10) {
  margin-bottom: 0px;
}

.memoField {
  width: 90%;
  height: 44px;
  border: 1px solid silver;
  background-color: white;
  margin: 0px;
  overflow: auto;
}

.tableKin {
  height: 100px;
  border: 1px solid silver;
  background-color: white;
  margin: 0px;
  overflow: auto;
}
.tableKin table {
  width: 200%;
}
.tableKin table, th, td{
  border: 1px solid black;
}

.btnAddPari, .btnDelPari {
  width: 25px;
  height: 30px;
}

.btnAddPari {
  background-color: #FACC2E;
  border-color: #FFBF00;
}

.btnDelPari {
  background-color: #FE2E2E;
  border-color: #FF0000;
}

.btnEditPari {
  width: 32px;
  background: url("../img/editIcon.png");
  background-repeat: no-repeat;
}

.btnGroupII {
  padding-right: 40px;
}

.btnGroupII input[type="text"] {
  margin-left: 3px;
  width: 274px;
  height: 27px;
  text-align: center;
}

#Modal .modal-dialog {
  width: 770px;
}

#Modal .memoField {
  width: 40%;
  height: 75px;
}

#modalParientes .modal-dialog {
  width: 865px;
}

#modalParientes .modal-header {
  padding-bottom: 25px;
}

#formPariente h1{
  margin-top: 3px;
}

#formPariente .data1 p:nth-child(5) span {
  float: right;
}

.nombrePariente {
  margin: 0px;
  cursor: pointer;
  margin-left: 2px;
}

p.nombrePariente.selected {
  background-color: #5882FA;
}

@keyframes indexFadeInOut {
  0% {
  opacity:1;
  }
  17% {
  opacity:1;
  }
  33% {
  opacity:0;
  }
  83% {
  opacity:0;
  }
  100% {
  opacity:1;
  }
}

@-webkit-keyframes indexFadeInOut{
  0% {
  opacity:1;
  }
  17% {
  opacity:1;
  }
  33% {
  opacity:0;
  }
  83% {
  opacity:0;
  }
  100% {
  opacity:1;
  }
}

.indexImages img {
  -webkit-animation-name: indexFadeInOut;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 30s;
  animation-name: indexFadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 30s;
}

.indexImages img:nth-of-type(1) {
  -webkit-animation-delay: 30s;
  animation-delay: 30s;
}
.indexImages img:nth-of-type(2) {
  -webkit-animation-delay: 20s;
  animation-delay: 20s;
}
.indexImages img:nth-of-type(3) {
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
}

.ALogo {
  background: white;
  border-radius: 0 10px 10px 0;
  margin:0 auto 0 auto;
  text-align:center;
}
.ALogo img {
  border-radius: 10px;
}
.Login {
  width: 1000px;
  height: 600px;
  background: url("../img/casaclub3.jpg");
  border: 10px solid #0B0B61;
  border-radius: 10px;
  margin: 0 auto 0 auto;
  text-align: center;
}
.LoginDiv {
  width: 500px;
  height: 100px;
  background-color: white;
  border-radius: 10px;
  border: 5px solid #0B0B61;
  margin: 0 auto 0 auto;
  margin-top: 250px;
  text-align: center;
  padding-bottom: 10px;
}
.LoginDiv h2{
  color: #B18904;
}
.btn-Login{
  margin-left: 5px;
  width: 80px;
}

.Acceso {
  width: 900px;
  height: 530px;
  background: white;
  border: 10px solid #0B0B61;
  border-radius: 10px;
  margin: 0 auto 0 auto;
  text-align: center;
}

.Acceso h1 {
  color: #B18904;
}

.Acceso h2 {
  color: #B18904;
}

.BuscaIdSocio, .BuscaSocio {
  width: 500px;
  height: 70px;
  background-color: #BDBDBD;
  border-radius: 10px;
  border: 5px solid #0B0B61;
  margin: 0 auto 0 auto;
  text-align: center;
  padding-top: 15px;
}

.BuscaIdSocio {
  margin-bottom: 50px;
}

.BuscaSocio input[type="text"], .BuscaIdSocio input[type="text"] {
  width:350px;
  text-align: center;
}

.divVerH {
  margin: 0 auto 0 auto;
  text-align: center;
  padding-top: 15px;
}

.divVerH a {
  text-decoration: none;
}

.findSocio {
  width: 500px;
  height: 420px;
  background-color: #BDBDBD;
  border-radius: 10px;
  border: 5px solid #0B0B61;
  margin: 0 auto 0 auto;
  margin-top: 50px;
  text-align: center;
  padding-top: 15px;
}

.btnAcceso{
  background-color: green;
  margin-top: 50px;
  margin-right: 10px;
  width: 90px;
  height: 40px;
}

.cuotaForm {
  margin-left: 10px;
  width: 350px;
  background: #fcfcfc repeat-x left bottom;
  border: 1px solid #ccc;
  border-bottom: 2px solid #bbb;
  border-top: 1px solid #ddd;
  border-radius: 10px;
  margin-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
}

.cuotaForm input, select {
  float: right;
}

.cuotaForm select {
  width: 156px;
}

#ModalAccess .modal-dialog{
  width: 600px;
}

.socioAccess .imgContainer, .socioAccess .dataAccess {
  text-align: center;
} 

.socioAccess p:nth-child(3) { 
  text-align: right;
}

